body {
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    text-align: center;
    padding: 190px;
    background-color: rgb(150, 47, 55);
    font-family: 'Lacquer', sans-serif;
}
footer {
    clear: both;
    color: rgb(201, 176, 152);
}