img{
    width: 200px;
    height: 200px;
    border: 3px solid #070707;
    border-radius: 25%;
  }
  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(94, 4, 4);
    font-weight: bolder;
  }
  
  h2{
    font-family: monospace;
    font-size: 28px;
    color: #9b1510;
    font-weight: bolder;
  }
  
  section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px auto;
    overflow: auto; 
  }